# ide
*.project
*.pydevproject
*.ipynb_checkpoints
.cache/
.idea/
.vscode/

# files
*.pyc

.settings/

# build
pvfactors.egg-info/

# docs
pvfactors/docs/_build/

# tests
*__pycache__/
.pytest_cache/
build/
dist/
pvfactors/docs/developer/generated/*
docs/sphinx/_build/
docs/sphinx/developer/generated/
*generated/
.mypy_cache/

# virtual envs
venv/
venv3/
*.DS_Store*
