pvfactors/_version.py export-subst

# mark iPython notebooks as Python files
*.ipynb linguist-language=Python

# documentation
pvfactors/docs/* linguist-documentation
notebooks/* linguist-documentation
